@import './fonts.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display';
}

#root {}
body {
    background-color: #FFCDD0;
    
}
.univercal-settings{
    margin-top: 90px;
}
.main-div{
    display: flex;
}